<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requirement Acquisition</title>
</head>
    <body>
    <form id="survey-form" action="{{ url_for('predict')}}" method="post">
        <h1 id="title">Loan Eligibility checklist</h1>
        <fieldset id="content">
            <legend>Please fill in your details here</legend>
            <div class="form-element">
                <label id="name-label">Name:</label>
                <input class="form-con"
                       id="name"
                       name="name"
                       type="text"
                       placeholder="Enter your name"
                       required
                />
            </div>
            <div class="form-element">
                <label class="long">Gender:</label>
                <br>
                <select class="dropdown" id="gender" name="gender">
                    <option selected disabled hidden>Select the gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <div class="form-element">
                <label class="long">Marital Status:</label>
                <br>
                <select class="dropdown" id="married" name="married">
                    <option selected disabled hidden>Select any one from below</option>
                    <option value="Yes">Married</option>
                    <option value="No">Unmarried</option>
                </select>
            </div>
            <div class="form-element">
                <label class="long">Dependents:</label>
                <br>
                <select class="dropdown" id="dependents" name="dependents">
                    <option selected disabled hidden>Select number of members dependent</option>
                    <option value="0">No members</option>
                    <option value="1">One</option>
                    <option value="2">Two members</option>
                    <option value="3+">More than Two members</option>
                </select>
            </div>
            <div class="form-element">
                <label class="long">Education:</label>
                <br>
                <select class="dropdown" id="education" name="education">
                    <option selected disabled hidden>Select your educational qualification</option>
                    <option value="Graduate">Graduated</option>
                    <option value="Not Graduate">Un-Graduated</option>
                </select>
            </div>
            <div class="form-element">
                <label class="long">Employment:</label>
                <br>
                <select class="dropdown" id="employment" name="employment">
                    <option selected disabled hidden>Select any one from below</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>
            <div class="form-element">
                <label >Income of Applicant:</label>
                <input class="form-con"
                       id="applicant_income"
                       name="applicant_income"
                       type="number"
                       placeholder="Enter the income"
                       required
                />
            </div>
            <div class="form-element">
                <label >Income of Co-applicant:</label>
                <input class="form-con"
                       id="coapplicant_income"
                       name="coapplicant_income"
                       type="number"
                       placeholder="Enter the income"
                       required
                />
            </div>
            <div class="form-element">
                <label >Expected Loan Amount:</label>
                <input class="form-con"
                       id="loan_amount"
                       name="loan_amount"
                       type="number"
                       placeholder="Enter your expected amount"
                       required
                />
            </div>
            <div class="form-element">
                <label >Tenure of repayment(in days):</label>
                <input class="form-con"
                       id="loan_amount_term"
                       name="loan_amount_term"
                       type="number"
                       placeholder="Enter your time to repay"
                       required
                />
            </div>
            <div class="form-element">
                <label class="long">Repayed previously opted loans(if any):</label>
                <br>
                <select class="dropdown" id="credit_history" name="credit_history">
                    <option disabled hidden>Select any of the options from below</option>
                    <option value = 1>Yes</option>
                    <option selected value = 0>No</option>
                </select>
            </div>
            <div class="form-element">
                <label class="long">Area of the property submitted:</label>
                <br>
                <select class="dropdown" id="prop_area" name="prop_area">
                    <option selected disabled hidden required>Select your property area</option>
                    <option value = "Urban">Urban area</option>
                    <option value = "Semiurban">Semi Urban area</option>
                    <option value = "Rural">Rural area</option>
                </select>
            </div>
        </fieldset>
        <button type="submit" id="submit"><a href="submit">Check</a></button>
    </form>

    </body>
</html>

<style>
        @import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@1,300&family=Rubik:wght@300&display=swap');
*,*::before,*::after{
font-family: 'Rubik', sans-serif;
color:white;
box-sizing:border-box;
}
body{
    margin-top:6vh;
    background:url(https://www.incimages.com/uploaded_files/image/1920x1080/getty_1139630453_407745.jpg),
    linear-gradient(120deg, #ff0000, #150a8ae7);
    background-size:cover;
    background-repeat:no-repeat;
    background-blend-mode:overlay;
    background-position:center;
}
h1 {
  font-weight: 600;
  line-height: 2.6;
}
p {
  font-size: 1.65rem;
}
h1,p {
  text-align:center;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
a{
    text-decoration:none;
}
label{
  line-height:2.5rem;
  font-size:25px;
}
input{
  color:black;
  font-weight:600;
}
input[type="checkbox"]{
  min-height:1.1rem;
  min-width:1.1rem;
}
input[type="radio"]{
  min-height:1.3rem;
  min-width:1.3rem;
}
select,option{
  color:black;
  font-weight:600;
  text-align:start;
  width:100%;
  height:35px;
  border-radius:5px;
}
option{
  font-size:1.013rem;
}
textarea{
  min-width:100%;
  min-height:150px;
  color:black;
  font-weight:600;
  border-radius:5px;
}
textarea::placeholder{
  padding-left:10px;
  font-size:1.031rem;
}
textarea:focus{
 outline:3px solid rgb(0, 15, 255,0.6);
}
select:focus{
  outline:3px solid rgb(0, 15, 255,0.6);
}
select{
    font-size:1.013rem;
    color:grey;
    padding-left:13px;
}
#survey-form{
  background:rgb(0,0,0,0.7);
  min-height:180vh;
  margin:10vh auto;
  max-width:750px;
  border-radius:10px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
}
#content{
  width:90%;
  min-height:140vh;
  margin:1.13rem auto;
  display:grid;
  grid-template-columns:100%;
  grid-gap:1.5rem;
  justify-items:center;
  border-radius:10px;
}
.form-element{
  width:90%;
  display:block;
}
.form-con{
  width:100%;
  height:35px;
  border:none;
  border-radius:5px;
}
.form-con::placeholder{
    font-size:1.013rem;
    padding-left:15px;
    font-weight:600;
  }
.form-con:focus{
  outline:3px solid rgb(0, 15, 255,0.6);
}
.long{
  line-height:1.6rem;
}
.check{
  min-height:1.013rem;
  min-width:1.013rem;
}
#submit{
  background: linear-gradient(-60deg, #ff0000, #da2727ba, #2658ccba, #150a8ae7);
  width:90%;
  border-radius:5px;
  min-height:2.031rem;
  border:none;
  font-weight:600;
  letter-spacing:0.1rem;
  cursor:pointer;
  margin-bottom:6vh;
  font-size:1.031rem;
  background-size: 250% 250%;
  animation:hover-effect 5s ease infinite;
}
#submit:hover{
  outline:3px solid rgb(0, 15, 255,0.6);
}
#submit:focus{
  animation:hover-effect 5s ease infinite;
  outline:3px solid rgb(0, 15, 255,0.6);
}
textarea,select{
    margin-top:1vh;
 }
@keyframes hover-effect{
  0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@media(max-width:900px){
  #content,#survey-form{
    max-width:650px;
  }
  #content{
    margin:auto;
    max-width:500px;
  }
  #submit{
    max-width:500px;
    margin:7vh 0;
  }
}
@media(max-width:500px){
  .long{
    line-height:2.0rem;
  }
  h1{
    font-size:1.7rem;
  }
  p{
    font-size:1.3rem;
  }
  textarea,select{
    margin-top:8px;
  }
  *{
    font-size:1.031rem;
    margin:auto 0;
  }
}
</style>
