<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loan Credibility Status</title>
</head>
<body>
    <div>
        <h1>Loan Eligibility Status</h1>
        <br><br>
        <h2>{{prediction_text}}</h2>
    </div>
</body>
<style>
    *{
        font-family:sans-serif;
        margin:0;
        padding:0;
        font-size:40;
    }
    body,html{
        width:100%;
        height:100vh;
        display:flex;
        align-items:center;
        justify-content:center;
        background-image:url('https://cdn.hswstatic.com/gif/loan-personal.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color:rgb(0,0,0,0.7);
        background-blend-mode:overlay;
    }
    h1{
        text-align:center;
        color:blue;
        font-size:3.5rem;
    }
    h2{
        color:white;
        font-size:2.5rem;
    }
    div{
        width:80%;
        text-align:center;
    }
</style>

</html>